<!--
SPDX-FileCopyrightText: 2023 Håvard Moen <post@haavard.name>
SPDX-License-Identifier: GPL-3.0-only
-->

<!DOCTYPE html>
<html lang="no">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Rebus Race</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/bootstrap.min.css') }}"/>
    <script src="{{ url_for('static', path='/popper.min.js') }}"></script>
    <script src="{{ url_for('static', path='/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', path='/graphql.min.js') }}"></script>
    <script src="{{ url_for('static', path='/rebus_race.js') }}"></script>
    {% block head_extra %}
    {% endblock %}
    {% endblock %}
  </head>
  <body class="p-4">
    {% for message in get_flashed_messages(request) %}
    <div class="d-inline-block alert alert-{%- if message['category'] == 'error' %}danger{%- else %}{{message['category']}}{%- endif %} alert-dismissible" role="alert">
      {{ message["message"] }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    {% block content %}{% endblock %}
  </body>
</html>
