<!--
SPDX-FileCopyrightText: 2023 Håvard Moen <post@haavard.name>
SPDX-License-Identifier: GPL-3.0-only
-->
{% extends 'base.html' %}

{% block title %}Rebus race{% endblock %}

{%block content %}

<nav aria-label="breadcrumb" class="navbar navbar-expand-sm navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse ms-2" id="navbarSupportedContent">
    <ol class="navbar-nav navbar-nav-scroll">
      <li class="nav-item">
        <a class="nav-link active disabled" href="#" aria-current="page">Home</a>
      </li>
    </ol>
  </div>
  {% if is_logged_in %}
  <a href="/logout" class="nav-link me-2">Logout</a>
  {% endif %}
</nav>

<h1>Rebus Races</h1>
{% if is_admin %}
<div class="container m-2">
  <div class="row">
    <div class="col-auto">
      <ul class="list-group mb-2 gy-2 gx-3">
        {% for rebus_race in rebus_races %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <a href="/rebus_race/{{ rebus_race.id }}">{{ rebus_race.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div class="container m-2">
  <div class="row">
    <div class="col-auto">
      <div class="accordion d-inline-block mb-2 mt-2" id="addRace">
        <div class="accordion-item">
          <h3 id="headingAddRace">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAddRace" aria-expanded="true" aria-controls="collapseAddRace">
              Add new rebus race
            </button>
          </h3>
        </div>
        <div id="collapseAddRace" class="accordion-collapse collapse" aria-labelledby="headingAddRace" data-bs-parent="#addRace">
          <form method="post" action="/rebus_race">
            <div class="form-floating">
              <input type="text" class="input-sm form-control" id="form_race_title" name="title" placeholder="Race title"/>
              <label for="rebus_race_title" class="form-label">Title</label>
              <button type="submit" class="form-control btn btn-primary mt-3">Add new rebus race</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
{% if is_logged_in %}
<p>You are not authorized as admin</p>
{% else %}
<p><a href="/login" class="btn btn-primary">Log in</a></p>
{% endif %}
{% endif %}
{% endblock %}
