<!--
SPDX-FileCopyrightText: 2023 Håvard Moen <post@haavard.name>
SPDX-License-Identifier: GPL-3.0-only
-->
{% extends 'base.html' %}

{% block title %}Rebus race{% endblock %}

{%block content %}

<nav aria-label="breadcrumb" class="navbar navbar-expand-sm navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse ms-2" id="navbarSupportedContent">
    <ol class="navbar-nav navbar-nav-scroll">
      <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
      <li class="nav-item">
        <a class="nav-link" href="/rebus_race/{{ rebus_race.id }}">{{ rebus_race.title }}</a>
      </li>
      <li class="nav-item" aria-current="page">
        <a class="nav-link active disabled" href="#" aria-current="page">{{ rebus_post.title }}</a>
      </li>
    </ol>
  </div>
  {% if is_logged_in %}
  <a href="/logout" class="nav-link me-2">Logout</a>
  {% endif %}
</nav>

<div class="d-none" id="rebusRaceId" data-id="{{ rebus_race.id }}"></div>
<div class="d-none" id="rebusPostId" data-id="{{ rebus_post.id }}"></div>

<h1>Rebus post {{ rebus_post.title }}</h1>
<div class="container m-0">
  <div class="row d-print-none">
    <div class="col-auto">
      <div class="input-group input-group-sm mb-3">
        <input type="text" class="input-sm form-control m-1" name="title" value="{{ rebus_post.title }}"/>
        <button type="submit" id="changeRebusPostTitle" class="form-control btn btn-primary m-1">Change title</button>
      </div>
    </div>
  </div>
  <h2>Unlock code</h2>
  <div class="row">
    <div class="col-auto">
      <p>Unlock code: {{ rebus_post.unlock_code }}</p>
    </div>
  </div>
  <h2 class="d-print-none">Location</h2>
  {% if rebus_post.location and rebus_post.location.latitude and rebus_post.location.longitude %}
  <div class="row d-print-none mb-2">
    <div class="col-auto input-group">
      <button type="button" class="btn btn-link"><a href="https:///www.openstreetmap.org/directions?from={{ rebus_post.location.latitude }}%2C{{ rebus_post.location.longitude }}&to={{ rebus_post.location.latitude }}%2C{{ rebus_post.location.longitude }}">Show on map</a></button>
    </div>
  </div>
  {% endif %}
  <div class="row d-print-none">
    <div class="col-auto">
      <form method="post" action="/rebus_race/{{ rebus_race.id }}/rebus_post/{{ rebus_post.id }}/location" class="input-group">
        <div class="form-floating">
          <input type="text" class="input-sm form-control" name="location_hint" value="{{ rebus_post.location.location_hint }}" required />
          <label for="title">Location hint</label>
        </div>
        <div class="form-floating">
          <input type="number" min="-90" max="90" step="0.000001" class="input-sm form-control" name="latitude" value="{{ rebus_post.location.latitude }}"/>
          <label for="latitude">Latitude</label>
        </div>
        <div class="form-floating">
          <input type="number" min="-180" max="180" step="0.000001" class="input-sm form-control" name="longitude" value="{{ rebus_post.location.longitude }}"/>
          <label for="longitude">Longitude</label>
        </div>
        <div class="form-floating">
          <input type="number" min="0" max="1000" step="1" class="input-sm form-control" name="leeway" value="{{ rebus_post.location.leeway }}"/>
          <label for="leeway">Leeway</label>
        </div>
        <div class="form-floating">
          <button type="submit" class="form-control btn btn-primary btn-sm" id="updateRebusPostLocation">Update</button>
        </div>
      </form>
    </div>
  </div>
  <h2>Questions</h2>
  <div class="row">
    <div class="col-auto">
      <ul class="list-group list-group-numbered">
        {% for question in rebus_post.questions %}
        <li class="list-group-item">
          <div class="row">
            <div class="col-auto">
              {{ question.question }}
            </div>
          </div>
          {% for media in question.media %}
          {% if media.mime_type.startswith("image/") %}
          <div class="row">
            <div class="col-auto">
              <img src="/rebus_race/{{ rebus_race.id }}/rebus_post/{{ rebus_post.id }}/media/{{ media.id }}"/>
            </div>
          </div>
          {% elif media.mime_type.startswith("audio/") %}
          <div class="row">
            <div class="col-auto">
              <audio controls src="/rebus_race/{{ rebus_race.id }}/rebus_post/{{ rebus_post.id }}/media/{{ media.id }}"/>
            </div>
          </div>
          {% elif media.mime_type.startswith("video/") %}
          <div class="row">
            <div class="col-auto">
              <video controls src="/rebus_race/{{ rebus_race.id }}/rebus_post/{{ rebus_post.id }}/media/{{ media.id }}"/>
            </div>
          </div>
          {% endif %}
          {% endfor %}
          {% if question.answer %}
          <div class="row d-print-none">
            <div class="col-auto">
              <div class="fw-bold">Answer: </div>{{ question.answer }}
            </div>
          </div>
          {% endif %}
          <button type="button" class="btn btn-outline-danger btn-sm d-flex d-print-none removePostQuestion" data-question-id="{{ question.id }}">Remove question</button>
          <h3 class="d-print-none">Team answers</h3>
          {% for team, answer in question.team_answers.items() %}
          <div class="row d-print-none border">
            <div class="col-4 mt-1 mb-1">
              {{ team.name }}
            </div>
            <div class="col-5 mt-1 mb-1">
              {{ answer.answer }}
            </div>
            <div class="form-floating col-3 mt-1 mb-1">
              <input type="number" min="0" step="0.5" name="score" value="{{ answer.score }}" class="input-sm form-control answerScore" data-question-id="{{ question.id }}" data-team-id="{{ team.id }}"/>
              <label for="score">Score</label>
            </div>
          </div>
          {% endfor %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="row d-print-none">
    <div class="col-auto">
      <div class="accordion d-inline-block mb-2 mt-2" id="addPost">
        <div class="accordion-item">
          <h3 id="headingAddQuestion">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAddQuestion" aria-expanded="true" aria-controls="collapseAddQuestion">
              Add new question
            </button>
          </h3>
        </div>
        <div id="collapseAddQuestion" class="accordion-collapse collapse" aria-labelledby="headingAddQuestion" data-bs-parent="#addQuestion">
          <form method="post" action="/rebus_race/{{ rebus_race.id }}/rebus_post/{{ rebus_post.id }}/question" enctype="multipart/form-data">
            <div class="form-floating mb-3">
              <input type="text" class="input-sm form-control" name="question" required/>
              <label for="title">Question</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="input-sm form-control" name="answer"/>
              <label for="answer">Answer</label>
            </div>
            <div class="form-floating mb-3">
              <input type="file" class="input-sm form-control" name="media" multiple accept="image/*, audio/*, video/*"/>
              <label for="media">Media</label>
            </div>
            <button type="submit" class="form-control btn btn-primary mt-3">Add new question</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}
