<!--
SPDX-FileCopyrightText: 2023 Håvard Moen <post@haavard.name>
SPDX-License-Identifier: GPL-3.0-only
-->
{% extends 'base.html' %}

{% block title %}Rebus race{% endblock %}

{%block content %}

<nav aria-label="breadcrumb" class="navbar navbar-expand-sm navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse ms-2" id="navbarSupportedContent">
    <ol class="navbar-nav navbar-nav-scroll">
      <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
      <li class="nav-item" aria-current="page">
        <a class="nav-link active disabled" href="#" aria-current="page">{{ rebus_race.title }}</a>
      </li>
    </ol>
  </div>
  {% if is_logged_in %}
  <a href="/logout" class="nav-link me-2">Logout</a>
  {% endif %}
</nav>

<div class="d-none" id="rebusRaceId" data-id="{{ rebus_race.id }}"></div>

<h1 class="d-print-none">{{ rebus_race.title }}</h1>
<div class="container m-2 d-print-none">
  <div class="row">
    <div class="col-auto">
      <div class="input-group input-group-sm mb-3">
        <input type="text" class="input-sm form-control m-1" name="title" value="{{ rebus_race.title }}"/>
        <button type="submit" id="changeRebusRaceTitle" class="form-control btn btn-primary m-1">Change title</button>
      </div>
    </div>
  </div>
</div>
<div class="container m-2 d-print-none">
  <div class="row">
    <div class="col-auto">
        {% if rebus_race.locked %}
        <button type="button" class="btn btn-primary btn-sm unlockRebusRace">Unock rebus race</button>
        {% else %}
        <button type="button" class="btn btn-primary btn-sm lockRebusRace">Lock rebus race</button>
        {% endif %}
    </div>
  </div>
</div>

<h2 id="rebusPostTitle">Rebus Posts</h2>
<div class="container m-2">
  <div class="row">
    <div class="col-auto">
      <ul class="list-group list-group-numbered mb-2 gy-2 gx-3">
        {% for rebus_post in rebus_race.rebus_posts %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <a href="/rebus_race/{{ rebus_race.id }}/rebus_post/{{ rebus_post.id }}"><div class="fw-bold">{{ rebus_post.title }}</a></div>
              <div class="row">
                <div class="col-auto">
                  {% if rebus_post.location and rebus_post.location.location_hint %}
                  Location hint: {{ rebus_post.location.location_hint }}
                  {% endif %}
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-auto">
                  <button class="btn btn-sm btn-danger d-print-none" data-bs-toggle="modal" data-bs-target="#removeRebusPostModal" data-rebus-post-id="{{ rebus_post.id }}" data-rebus-post-title="{{ rebus_post.title }}" >Remove</button>
                </div>
              </div>
          </div>
            <span class="badge bg-primary rounded-pill">{{ rebus_post.questions | length }} questions</span>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div class="modal fade" id="removeRebusPostModal" tabindex="-1" aria-labelledby="removeRebusPostModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="removeRebusPostModalLabel">Remove rebus post?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to remove this rebus post?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="confirmRemoveRebusPost">Remove</button>
      </div>
    </div>
  </div>
</div>

<div class="container m-2 d-print-none">
  <div class="row">
    <div class="col-auto">
      <div class="accordion d-inline-block mb-2 mt-2" id="addPost">
        <div class="accordion-item">
          <h3 id="headingAddPost">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAddPost" aria-expanded="true" aria-controls="collapseAddPost">
              Add new rebus post
            </button>
          </h3>
        </div>
        <div id="collapseAddPost" class="accordion-collapse collapse" aria-labelledby="headingAddPost" data-bs-parent="#addPost">
          <form method="post" action="/rebus_race/{{ rebus_race.id }}/rebus_post">
            <div class="form-floating mb-3">
              <input type="text" class="input-sm form-control" name="title" placeholder="Post title" required/>
              <label for="title">Post title</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="input-sm form-control" name="location_hint" placeholder="Location hint, riddle, etc"/>
              <label for="title">Location hint</label>
            </div>
            <div class="form-floating mb-3">
              <input type="number" min="-90" max="90" step="0.000001" class="input-sm form-control" name="latitude"/>
              <label for="latitude">Optional latitude</label>
            </div>
            <div class="form-floating mb-3">
              <input type="number" min="-180" max="180" step="0.000001" class="input-sm form-control" name="longitude"/>
              <label for="longitude">Optional longitude</label>
            </div>
            <div class="form-floating mb-3">
              <input type="number" min="0" max="1000" step="1" class="input-sm form-control" name="leeway"/>
              <label for="leeway">Optional leeway in meters</label>
            </div>
            <button type="submit" class="form-control btn btn-primary mt-3">Add new rebus post</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<h2 style="page-break-after: always;">Teams</h2>
<div class="container m-2">
  <div class="row">
    <div class="col-auto">
      <ul class="list-group list-group-numbered mb-2 gy-2 gx-3 d-print-inline">
        {% for team in rebus_race.teams %}
        <li class="list-group-item d-flex justify-content-between align-items-start" style="page-break-after: always;">
          <div class="ms-2 me-auto">
            <div class="fw-bold"><a href="/rebus_race/{{ rebus_race.id }}/team/{{ team.id }}">{{ team.name }}</a></div>
              <div class="row">
                <div class="col-auto">
                  <span class="badge bg-primary rounded-pill d-print-none">Score {{ rebus_race.get_team_score(team_id=team.id) }}</span>
                  <div class="row d-none d-print-block">
                    <div class="col-auto">
                      {{ get_team_url_qrcode(request.url, team.id) | safe }}
                    </div>
                  </div>
                  <div class="fw-bold">Members:</div>
                  <ul class="m-2">
                    {% for member in team.members %}
                    <li class="mb-1">
                      {{ member.name }} {%- if member.email is not none %}<span class="ms-1">&lt{{ member.email }}&gt</span>{%- endif %}
                      <button type="button" class="btn btn-outline-danger btn-sm d-flex d-print-none removeTeamMember" data-team-id="{{ team.id }}" data-team-member-id="{{ member.id }}">Remove</button>
                    </li>
                    {% endfor %}
                  </ul>
                  <form method="post" class="input-group m-2 d-print-none" action="/rebus_race/{{ rebus_race.id }}/team/{{ team.id }}/member">
                    <input type="text" name="name" class="input-sm form-control" placeholder="Team member name"/>
                    <input type="email" name="email" class="input-sm form-control" placeholder="Team member email"/>
                    <button type="submit" class="form-control btn btn-sm btn-primary">Add team member</button>
                  </form>
                </div>
              <div class="row mt-2 d-print-none">
                <div class="col-auto">
                  <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#removeTeamModal" data-team-id="{{ team.id }}" data-team-name="{{ team.name }}">Remove team</button>
                </div>
              </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div class="modal fade" id="removeTeamModal" tabindex="-1" aria-labelledby="removeTeamModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="removeTeamModalLabel">Remove team?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to remove this team?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="confirmRemoveTeam">Remove</button>
      </div>
    </div>
  </div>
</div>

<div class="container m-2 d-print-none">
  <div class="row">
    <div class="col-auto">
      <div class="accordion d-inline-block mb-2 mt-2" id="addTeam">
        <div class="accordion-item">
          <h3 id="headingAddTeam">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAddTeam" aria-expanded="true" aria-controls="collapseAddTeam">
              Add new team
            </button>
          </h3>
        </div>
        <div id="collapseAddTeam" class="accordion-collapse collapse" aria-labelledby="headingAddTeam" data-bs-parent="#addTeam">
          <form method="post" action="/rebus_race/{{ rebus_race.id }}/team">
            <div class="form-floating mb-3">
              <input type="text" class="input-sm form-control" name="name" placeholder="Team name" required/>
              <label for="name">Team name</label>
            </div>
            <button type="submit" class="form-control btn btn-primary mt-3">Add new team</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
