<!--
SPDX-FileCopyrightText: 2023 Håvard Moen <post@haavard.name>
SPDX-License-Identifier: GPL-3.0-only
-->
{% extends 'base.html' %}

{% block title %}Rebus race{% endblock %}

{%block content %}

<div class="d-none" id="rebusRaceId" data-id="{{ rebus_race.id }}"></div>
<div class="d-none" id="teamId" data-id="{{ team.id }}"></div>

<nav aria-label="breadcrumb" class="navbar navbar-expand-sm navbar-light bg-light">
  {% if is_logged_in %}
  <a href="/teamlogout" class="ms-2 nav-link me-2">Logout</a>
  {% endif %}
</nav>

<h1>Team {{ team.name }}</h1>
{% if is_valid_user %}
<div class="container m-0">

  <div class="row d-print-none">
    <div class="col-auto">
      <div class="input-group input-group-sm mb-3">
        <input type="text" class="input-sm form-control m-1" name="name" value="{{ team.name }}"/>
        <button type="button" id="changeTeamName" class="form-control btn btn-primary m-1">Change name</button>
      </div>
    </div>

    {% set next_post = rebus_race.get_next_team_post(team_id=team.id) %}
    {% if next_post %}
    <h2>Next post: {{ next_post.title }}</h2>
    <div class="row d-print-none">
      <div class="col-auto">
        {% if next_post.location %}
        <div class="fw-bold">Location hint: </div>{{ next_post.location.location_hint }}
        {% endif %}
      </div>
    </div>
    <div class="row d-print-none">
      <div class="col-auto">
        <form method="post" action="/rebus_race/{{ rebus_race.id }}/team/{{ team.id }}/rebus_post/{{ next_post.id }}/unlock" class="form-floating input-group" >
        {% if next_post.location and next_post.location.latitude and next_post.location.longitude %}
          <input type="hidden" name="latitude"/>
          <input type="hidden" name="longitude"/>
          <button type="button" class="btn btn-sm btn-primary unlockGPS">Unlock using GPS</button>
        {% else %}
          <input type="text" class="input-sm form-control m-1" required name="unlock_code"/>
          <label for="unlock_code">Unlock code</label>
          <button type="submit" class="btn btn-sm btn-primary">Unlock post</button>
        {% endif %}
        </form>
      </div>
    </div>
    {% endif %}

    {% if team.unlocked_posts %}
    <h2>Unlocked posts</h2>
    <div class="row d-print-none">
      <div class="col-auto">
        {% for rebus_post in team.unlocked_posts %}
        <div class="accordion d-inline-block mb-2 mt-2" id="rebusPost{{ loop.index }}">
          <div class="accordion-item">
            <h3 id="headingPost{{ loop.index }}">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePost{{ loop.index }}" aria-expanded="true" aria-controls="collapsePost{{ loop.index }}">
                <div class="fw-bold">{{ rebus_post.title }}</div>
              </button>
            </h3>
          </div>
          <div id="collapsePost{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="headingPost{{ loop.index }}" data-bs-parent="#rebusPost{{ loop.index }}">
            <ul class="list-group">
              {% for question in rebus_post.questions %}
              <li class="list-group-item">
                <div class="row">
                  <div class="col-auto">
                    {{ question.question }}
                  </div>
                </div>
                {% for media in question.media %}
                {% if media.mime_type.startswith("image/") %}
                <div class="row">
                  <div class="col-auto">
                    <img src="/rebus_race/{{ rebus_race.id }}/rebus_post/{{ rebus_post.id }}/media/{{ media.id }}"/>
                  </div>
                </div>
                {% elif media.mime_type.startswith("audio/") %}
                <div class="row">
                  <div class="col-auto">
                    <audio controls src="/rebus_race/{{ rebus_race.id }}/rebus_post/{{ rebus_post.id }}/media/{{ media.id }}"/>
                  </div>
                </div>
                {% elif media.mime_type.startswith("video/") %}
                <div class="row">
                  <div class="col-auto">
                    <video controls src="/rebus_race/{{ rebus_race.id }}/rebus_post/{{ rebus_post.id }}/media/{{ media.id }}"/>
                  </div>
                </div>
                {% endif %}
                {% endfor %}

                <div class="row">
                  <div class="col-auto">
                    <div class="input-group m-1">
                      <div class="form-floating">
                        {% if team in question.team_answers %}
                        <input type="text" class="input-sm form-control" name="answer" value="{{ question.team_answers[team].answer }}"/>
                        {% else %}
                        <input type="text" class="input-sm form-control" name="answer"/>
                        {% endif %}
                        <label for="answer">Answer</label>
                      </div>
                      <button type="button" class="btn btn-sm btn-primary saveAnswer" data-rebus-post-id="{{ rebus_post.id }}" data-question-id="{{ question.id }}">Save answer</button>
                    </div>
                  </div>
                </div>

                {% endfor %}

              </li>
            </ul>
          </div>
          {% endfor %}
      </div>
    </div>
    {% endif %}

  </div>
</div>
{% elif is_logged_in %}
<p>You are not an authorized team member</p>
{% else %}
<p><a href="/teamlogin" class="btn btn-primary">Log in</a></p>
{% endif %}

{% endblock %}
